// Define variables for your color scheme

// For example:
$red: #E8654B;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$body: #F7EFE1;
$footer: #A67B58;
