<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid justify-content-around">
    <div class="w-50 d-flex justify-content-around">
      <%= link_to "Activities", activities_path, class: "my-auto" %>
      <%= link_to "Wellness", root_path, class: "h2" %>
      <% if user_signed_in? %>
        <%= link_to "My bookings", bookings_path, class: "my-auto" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "my-auto" %>
      <% end %>
    </div>
  </div>
</div>
