.btn-pink {
  background-color: $pink;
  color: $body;
  border: 0;
  margin-left: 5px;
}
.btn-pink:hover {
  background-color: $dark-pink;
  color: $body;
  border: 0;
  margin-left: 5px;
}
.btn-pink:active {
  background-color: $dark-pink;
  color: $body;
  border: 0;
  margin-left: 5px;
}
.btn-pink:click {
  background-color: $dark-pink;
  color: $body;
  border: 0;
  margin-left: 5px;
}
