.card-activity {
  background-size: cover;
  background-position: center;
  height: 240px;
  color: black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
