.mapboxgl-popup {
  max-width: 200px;
  height: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;

}

.pop-up-img{
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
}
