.mapboxgl-popup {
  max-width: 200px;
  height: 200px;
  border-radius: 50% !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  size: 5px !important;

}

.pop-up-img{
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.pop-up-link{
  font-size: bold;
  color: #E4768A;
  border: none;
}

.pop-up-link:focus{
  border: none;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
}
