.navbar-lewagon {
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
