<% if activity.img_url %>
  <div class="pop-up-img" style="background-image: url('<%=activity.img_url %>')"></div>
<% end %>

<h2><%= activity.name %></h2>
<p><%= activity.location %></p>

<%= link_to "See more", activity_path(activity) %>


<%# <% if activity.photo.attached? %>
<%# <img src="= cl_image_path activity.photo.key" alt=""> %>
  <%# <img src="= activity.img_url" class="pop-up-img"> %>
