<h1>Activities</h1>
<div class="main-grid">
  <% @activities.each do |activity| %>
    <%= link_to(activity_path(activity)) do %>
      <div class="card-list">
        <h5 class="card-title"><%= activity.name %></h5>
      </div>
    <% end %>
  <% end %>
</div>
