<div class="banner">
  <div class="container">
    <h1>Transform your <well></well>being</h1>
    <p>Elevate your self-care journey with Wellness, <br/>embark on a holistic adventure <br/>tailored just for you.</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
