<div class="banner_home">
  <div class="container">
    <h1>Transform your wellbeing</h1>
    <p style="max-width: 408px; font-size:22px;">Elevate your self-care journey with Wellness, embark on a holistic adventure tailored just for you.</p>
  </div>
</div>
