<div class="banner">
  <div class="container">
    <h1>Listen to your needs</h1>
    <p style="max-width: 408px; font-size:22px;">Discover the right journey to reach true mindfulness.</p>
  </div>
</div>
