<div class="footer">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="footer-text">
      <h5 class="footer-tagline">Transform your wellbeing</h5>
      <p class="footer-copy">Elevate your self-care journey with Wellness, <br/>embark on a holistic adventure tailored just for you.</p>
    </div>
    <div><div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <div>
    </div>
  </div>
</div>
